[submodule "plugins/sfAdminDashPlugin"]
	path = plugins/sfAdminDashPlugin
	url = https://github.com/kbond/sfAdminDashPlugin.git
[submodule "plugins/sfDoctrineGuardPlugin"]
	path = plugins/sfDoctrineGuardPlugin
	url = https://github.com/pycmam/sfDoctrineGuardPlugin.git
