html {
  background-color: #fff;
}

body {
  padding: 0;
}

body {
  min-width: 1024px;
}

#sf_admin_container textarea {
  width: 400px;
}

.sf_admin_data ul li {
  position: relative;
  color: #555;
}

.sf_admin_data ul li time {
  position: absolute;
  top: 0;
  right: 0;
}

.sf_admin_data p {
  padding: 5px;
}

.company .sf_admin_form,
.performer .sf_admin_form,
.sponsor .sf_admin_form,
.staff .sf_admin_form,
.venue .sf_admin_form {
  width: 60%;
  float: left;
}

.company .sf_admin_data,
.performer .sf_admin_data,
.sponsor .sf_admin_data,
.staff .sf_admin_data,
.venue .sf_admin_data {
  width: 40%;
  float: left;
}

#sf_admin_theme_footer {
  height: 20px;
  padding: 10px 30px;
}

#sf_admin_theme_footer cite {
  float: left;
  width: 50%;
  text-align: left;
}

#sf_admin_theme_footer span {
  float: right;
  width: 50%;
  text-align: right;
}

#sf_admin_theme_footer a {
  color: #333;
  text-decoration: none;
}