html {
  background-color: #fff;
}

body {
  min-width: 1024px;
  padding: 0;
}

.logo {
  display: block;
  margin-top: 50px;
}

#sf_admin_environment_flash {
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);

  padding: 10px 0;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-align: center;

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

#sf_admin_environment_flash a {
  color: #FFF;
}

#sf_admin_environment_flash a:hover, #sf_admin_environment_flash a:focus {
  text-decoration: none;
}

#sf_admin_environment_flash.demo {
  background-color: #0AE;
}

#sf_admin_environment_flash.dev {
  background-color: #F90;
}

.login {
  margin-top: 40px;
}

.login-tagline {
  font-family: Georgia;
  font-size: 1.5em;
  font-style: italic;
  font-weight: normal;
  color: #acacac;
  letter-spacing: 0.2em;
}

.company .sf_admin_form,
.performer .sf_admin_form,
.funder .sf_admin_form,
.role .sf_admin_form,
.staff .sf_admin_form,
.venue .sf_admin_form {
  width: 65%;
  float: left;
}

.company .sf_admin_data,
.performer .sf_admin_data,
.funder .sf_admin_data,
.role .sf_admin_data,
.staff .sf_admin_data,
.venue .sf_admin_data {
  width: 35%;
  float: left;

}

#sf_admin_container textarea {
  width: 400px;
}

#sf_admin_container .sf_admin_form_field_staff .content ul {
  margin: 0.5em 1em;
}

#sf_admin_container .sf_admin_form_field_staff .content ul li {
  height: 3em;
  list-style: none;
}

#sf_admin_container .sf_admin_form_field_staff .content ul li label {
  display: block;
  float: left !important;
  min-width: 150px;
  line-height: 2.6em;
}

#sf_admin_container .sf_admin_form_field_staff .content ul li select {
  min-width: 180px;
  float: left;
}

#sf_admin_container .sf_admin_data > * {
  margin-left: 30px;
}

#sf_admin_container .sf_admin_data h2 {
  background: none;
  margin-bottom: 10px;
  padding: 0;
  font-size: 1.75em;
  font-style: normal;
  color: #C64934;
}

#sf_admin_container .sf_admin_data h3 {
  margin-top: 10px;
  border-bottom: solid 1px #efefef;
  padding-bottom: 5px;
}

.sf_admin_data ul, .sf_admin_data p {
  padding-bottom: 10px;
}

.sf_admin_data ul li {
  position: relative;
  color: #797979;
  list-style-type: none;
  background: none;
  margin-bottom: 10px;
}

#sf_admin_container ul li a {
  padding-left: 0;
  background: none;
  margin-left: 0;
}

.sf_admin_data ul li ul {
  margin-left: 1em;
}

.sf_admin_data ul li time {
  position: absolute;
  top: 0;
  right: 0;
  color: #acacac;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 2em;
}

div.helper p{
    font-style:italic;
    color:#797979;
}

p.help_message {
  padding:0 0 10px 5px;
  color:#797979;
  font-style:italic;
  border-bottom:solid 1px #ddd;

}


#sf_admin_container .sf_admin_form_row {
  border-bottom:0;
}

#sf_admin_theme_footer {
  height: 20px;
  padding: 10px 30px;
}

#sf_admin_theme_footer cite {
  float: left;
  width: 50%;
  text-align: left;
}

#sf_admin_theme_footer span {
  float: right;
  width: 50%;
  text-align: right;
}

#sf_admin_theme_footer a {
  color: #333;
  text-decoration: none;
}

.flash_notice, .flash_error {
  text-align:center;
  padding-top:10px;
}

.flash_notice {
  color:#55AE3A;
  font-size:0.9em;
}

.flash_error {
  color:#D43D1A;
  font-size:0.9em;
}
