html {
  background-color: #fff;
}

body {
  padding: 0;
}

body {
  min-width: 1024px;
}

#sf_admin_container textarea {
  width: 400px;
}

.sf_admin_data h3{
  margin-top:10px;
  border-bottom:solid 1px #efefef;
  margin-left:2em;
  padding-bottom:5px;
}

#sf_admin_container ul li a {
	padding-left:0;
	background:none;
	margin-left:0;
}


.sf_admin_data ul li {
  position: relative;
  color: #797979;
  list-style-type:none;
  background:none;
  margin-bottom:30px;

}

.sf_admin_data ul li time {
  position: absolute;
  top: 0;
  right: 0;
  color:#acacac;
  text-transform:uppercase;
  font-size:0.7em;
}

.sf_admin_data p {
  padding: 5px;
}

.company .sf_admin_form,
.performer .sf_admin_form,
.sponsor .sf_admin_form,
.staff .sf_admin_form,
.venue .sf_admin_form {
  width: 60%;
  float: left;
}

.company .sf_admin_data,
.performer .sf_admin_data,
.sponsor .sf_admin_data,
.staff .sf_admin_data,
.venue .sf_admin_data {
  width: 30%;
  float: left;

}

#sf_admin_container h2 {
	background:none;
	margin-left:2em;
	margin-bottom:0.9em;
	font-style:normal;
	font-size:1.8em;
	color:#C64934;
}

#sf_admin_theme_footer {
  height: 20px;
  padding: 10px 30px;
}

#sf_admin_theme_footer cite {
  float: left;
  width: 50%;
  text-align: left;
}

#sf_admin_theme_footer span {
  float: right;
  width: 50%;
  text-align: right;
}

#sf_admin_theme_footer a {
  color: #333;
  text-decoration: none;
}