/* Print.css 
   Report styling
   Written by Carl Wood */

body {
	background: url("/images/bristol-old-vic.png") no-repeat;
  padding-top: 60px;
}

* {
	font-family: Arial;
	border: 0;
}

a {
	text-decoration: none;
	color: #111;
}

table {
  margin: 1em 0;
}

thead {
  text-align: left;
}

tfoot {
  padding: 0.25em 0;
  text-align: right;
}

td {
  padding: 0.25em 0;
}

div#sf_admin_theme_header, div#sf_admin_header, div#sf_admin_menu , div#sf_admin_path, #sf_admin_bar tfoot,  ul.sf_admin_actions, ul.sf_admin_td_actions, th#sf_admin_list_th_actions, input#staff_image_path, .sf_admin_batch_checkbox, #sf_admin_list_batch_checkbox, #sfWebDebug, #sf_admin_theme_footer{
	display: none;
}

#sf_admin_bar {
	float: none;
	margin-left: 0;
}

#sf_admin_content {
  position: relative;
}

.sf_admin_form_field_image img {
  position: absolute;
  top: 0;
  right: 0;
}
 
#sf_admin_content table {
  width: 100%;
}

#sf_admin_content th, #sf_admin_content tr {
	background: #fff;
}